body .SignupPage {
    background-image: url('../../images/MeltingIceCreambyMathieuStPierre2.jpg');
    background-size: cover;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
 }

 .SignupPage-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}