.LoginForm {
    background-color: black;
    width: 90vh;
    padding: 3vmin;
    align-items: center;
    color: white;
}

.LoginPageHeader {
    font-family: 'Roboto', cursive;
    font-weight: 800;
    text-transform: uppercase;
 }