body .PrayerBoard {
    margin: 0;
    background-image: url('https://images2.alphacoders.com/964/964425.jpg');
    background-size: cover;
}

.PrayerBoard-container {
    display: flex;
    flex-flow: row wrap;
}

