.NavBar {
  display: flex;
  flex-flow: row nowrap;
  background-color: #000;
  color: white;
  align-items: center;
  font-family: 'Roboto', cursive;
}

.NavBar-welcome {
    color: white;
  }

.NavBar a {
  color: pink;
}

.navbar-img {
  height: 4em;
  padding: 2vh;
}