.NavBar {
  display: flex;
  flex-flow: row nowrap;
  background-color: #000;
  color: white;
  align-items: center;
  font-family: 'Roboto', cursive;
}

.NavBar-welcome {
    color: white;
  }

.NavBar a {
  color: pink;
}

.navbar-img {
  height: 4em;
  padding: 2vh;
}

.navbar-img:hover {
  background-image: url('https://i.gifer.com/MQ4e.gif')
}

.selected {
  background-image: url('https://thumbs.gfycat.com/YellowBoldLaughingthrush-small.gif')
}