.SignupForm {
    background-color: black;
    width: 90vh;
    padding: 3vmin;
    align-items: center;
    color: white;
    margin: 5vh;
}

input .SignupForm {
    color: white;
}

.SignupPageHeader {
    font-family: 'Roboto', cursive;
    font-weight: 800;
    text-transform: uppercase;
 }

