
.btn {
  border-radius: 0;
  background-color: black;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  border: 2px solid white;
  margin: 5vh;
}

.btn:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-small {
  max-width: 25%;
}