body .WelcomePage {
    text-align: center;
    max-height: 100vmin;
    color: rgb(42, 57, 113);
    background-color: rgb(229, 129, 140);
  }
  
  p {
    padding: 0 0 5vmin 0;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
    height: 45vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: rgb(229, 129, 140);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }