body .YourPrayers {
    /* min-height: 200vh; */
    margin-top: -3vh;
    background-color: black;
    background-image: url('../../images/blackstar.jpg');
    font-weight: 800;
    color: rgb(225	195	224	);
    background-size: cover;
    font-family: 'Roboto', cursive;
    
}

.YP-container {
   margin: 2em 0;
}

.prayer-table {
    background-position: center;
    background-size: cover;
    background-color: black;
    border: 2px solid rgb(225	195	224	);
}

.collapsible-header {
    background-color: black;
    border-color: rgb(225	195	224	);
    display: grid;
}

.collapsible {
    border: none;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #26A69C;
}