body .YourPrayers {
    min-height: 200vh;
    background-color: black;
    background-image: url('../../images/blackstar.jpg');
    font-weight: 800;
    color: rgb(225	195	224	);
    background-size: cover;
    font-family: 'Roboto', cursive;
    /* display: flex; */
    /* flex-flow: row wrap; */
    
}

.YP-container {
   margin: 2em 0;
}

.prayer-table {
    background-position: center;
    background-size: cover;
    background-color: black;
    border: 2px solid rgb(225	195	224	);
}

/* .user-dash-pic {
    width: 90%;
} */